body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 20px;
}

.contact-form-section {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #ffffff;
}

.contact-info {
  max-width: 300px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 50%;
}

.contact-form label {
  margin-top: 15px;
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  padding: 10px;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #e6b800;
}

.map-gallery-section {
  text-align: center;
  margin: 50px;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
}


.footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-contact,
.footer-subscription {
  max-width: 400px;
}

.footer-subscription input {
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
}

.footer-subscription button {
  padding: 10px;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer-subscription button:hover {
  background-color: #e6b800;
}
